<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="common-head (title)">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}"
        type="text/css">

  <!--/*@thymesVar id="formValidation" type="java.lang.Boolean"*/-->
  <link rel="stylesheet" th:if="${formValidation}" th:href="@{/css/formValidation.min.css}"
        type="text/css">

  <!--/*@thymesVar id="togglePassword" type="java.lang.Boolean"*/-->
  <link rel="stylesheet" th:if="${togglePassword}" th:href="@{/css/show-password-toggle.min.css}"
        type="text/css">
  <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">

  <title th:text="${title} ? '..:: Spring Boot Starter | ' + ${title} + ' ::..' : _"></title>
</head>


<!-- Navbar -->
<nav th:fragment="common-navbar" class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
  <div class="container">
    <a class="navbar-brand" th:href="@{/}" th:text="#{navbar.logo.text}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" target="_blank" th:href="@{/swagger-ui/index.html}">Swagger UI </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" th:href="@{/contact}">
            <i class="fas fa-mail-bulk pe-2"></i> <span th:text="#{navbar.contact.text}"></span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <select class="nav-link mx-2" id="locale" data-width="fit">
            <option th:selected="__${#locale}__== 'en'" value="en"
                    data-content='<span class="fa-regular fa-flag-usa"></span> English'>English
            </option>
            <option th:selected="__${#locale}__== 'es'" value="es"
                    data-content='<i class="flag-icon flag-icon-mx"></i> Español'>Español
            </option>
          </select>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="dropdown-item" th:href="@{/login}">
            <i class="fa fa-sign-in"></i> <span th:text="#{login.text}"></span>
          </a>
        </li>
        <li class="nav-item dropdown" sec:authorize="isFullyAuthenticated()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            <span sec:authentication="name"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" th:href="@{/profile}">
              <i class="ti-user"></i> <span th:text="#{navbar.user.profile.text}"></span></a>
            </li>
            <li><a class="dropdown-item" sec:authorize="hasRole('ROLE_USER')"
                   th:href="@{/users/stuff}">
              <i class="ti-user"></i> <span th:text="#{navbar.user.stuff.text}"></span></a>
            </li>
            <li><a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/admin/stuff}">
              <i class="ti-user"></i> <span th:text="#{navbar.admin.stuff.text}"></span></a></li>
            <li><a class="dropdown-item" th:href="@{/logout}">
              <i class="fa fa-power-off"></i> <span th:text="#{navbar.logout.text}"></span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->


<th:block th:fragment="common-scripts">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>

  <!--/*@thymesVar id="formValidation" type="java.lang.Boolean"*/-->
  <th:block th:if="${formValidation}">
    <script th:src="@{/js/form-validation/FormValidation.min.js}"></script>
    <script th:src="@{/js/form-validation/Bootstrap5.min.js}"></script>
    <script th:src="@{/js/form-validation/FormValidationScript.js}"></script>
  </th:block>

  <!--/*@thymesVar id="togglePassword" type="java.lang.Boolean"*/-->
  <script th:if="${togglePassword}" th:src="@{/js/show-password-toggle.min.js}"></script>

  <script th:src="@{/js/main.js}"></script>
</th:block>


</html>
