<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<th:block
    th:replace="common/template :: common-head(title='Users')"/>

<body>

<!-- Container starts-->
<main class="container">

  <!--Common Body Scripts-->
  <nav th:replace="common/template :: common-navbar"></nav>

  <!-- Row starts-->
  <div class="row mt-5">
    <!-- Col starts-->
    <div class="col mt-4">
      <div class="my-4 mb-2 text-center">
        <p>Users dynamically loaded with full pagination</p>
        <p>For Demo purposes, will only show username and first names</p>
      </div>

      <table id="users" class="table table-striped table-hover table-responsive">
        <thead>
        <tr>
          <th>PublicId</th>
          <th>Username</th>
          <th>First Name</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <th>PublicId</th>
          <th>Username</th>
          <th>First Name</th>
        </tr>
        </tfoot>
      </table>

      <hr/>

      <h3>Audit History Coming Soon...</h3>

      <!-- Audit history -->
      <div class="d-grid gap-2 mx-auto mb-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <a class="btn btn-info" th:href="@{/users/audits}" type="submit">View Audit History</a>
      </div>
      <!-- Audit history ends -->

      <!-- Modal -->
      <div th:if="${auditLogs}">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>Revision ID</th>
            <th>Revision Type</th>
            <th>Entity ID</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
    <!-- Col ends-->
  </div>
  <!-- Row ends -->

</main>
<!-- Container ends-->


<!--Common Body Scripts-->
<th:block th:replace="common/template :: common-scripts"/>

<script type="text/javascript">
  //initialize datatable
  $(document).ready(() => {

    $("#users").DataTable({
      ajax: {
        contentType: "application/json",
        url: "/users/datatables",
        type: "POST",
        data: (d) => JSON.stringify(d),
      },
      serverSide: true,
      columns: [
        {
          data: "publicId"
        },
        {
          data: "username",
        },
        {
          data: "firstName",
        }
      ],
    });

    $(document).on("click", "a.user-status-link", (e) => {
      e.preventDefault();
      const anchor = e.target.closest("a");

      $.ajax({
        type: "PUT",
        url: `/api/v1/users/${anchor.getAttribute("href")}`,
      })
      .done(function (data) {
        console.log("data: ", data);
      })
      .fail(function (data) {
        console.log("error: ", data);
      });
    });
  });
</script>

</body>
</html>
