<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<th:block
    th:replace="common/template :: common-head(title='Password Reset Start', formValidation=true)"/>

<body>

<!-- Container starts-->
<main class="container">

  <!-- Row starts-->
  <div class="row">
    <!-- Col starts-->
    <div class="col-md-4 offset-md-4 mt-4">
      <div class="mt-4 mb-2 text-center">
        <div class="bg-info  p-2" th:if="${error}" th:text="${error}"></div>
        <th:block th:unless="${error}">
          <div class="bg-info text-white p-2" th:text="#{forgot.password.email.form.info}"
               th:unless="${passwordResetEmailSent}"></div>
          <div class="bg-success text-white p-2" th:if="${passwordResetEmailSent}"
               th:text="#{forgot.password.message.sent}"></div>
        </th:block>
      </div>

      <form id="password-reset-start-form" method="post" th:action="@{/password-reset}">

        <fieldset>
          <legend th:text="#{password-reset.text}"></legend>

          <!-- Email input starts-->
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-at"></i></span>
              <input aria-describedby="email" aria-label="Email" autofocus class="form-control rounded"
                     id="email"
                     name="email" required th:placeholder="#{forgot.my.password.email.form.muted.text}" type="email">
            </div>
          </div>
          <!-- Email input ends -->

          <!-- Sign in button starts -->
          <div class="mb-3 d-grid gap-2 mx-auto">
            <button class="btn btn-primary" th:text="#{forgot.my.password.submit.text}"
                    type="submit"></button>
          </div>
          <!-- Sign in button ends -->
        </fieldset>
      </form>

      <hr/>

      <!-- Sign in button starts -->
      <div class="d-grid gap-2 mx-auto mb-3">
        <a class="btn btn-info" th:href="@{/sign-up}" th:text="#{sign-up.text}" type="submit"></a>
      </div>
      <!-- Sign in button ends -->
    </div>
    <!-- Col ends-->
  </div>
  <!-- Row ends -->

</main>
<!-- Container ends-->


<!--Common Body Scripts-->
<th:block th:replace="common/template :: common-scripts(formValidation=true)"/>

</body>
</html>
