<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<th:block
    th:replace="common/template :: common-head(title='Password Reset Complete', formValidation=true)"/>

<body>

<!-- Container starts-->
<main class="container">

  <!-- Row starts-->
  <div class="row">
    <!-- Col starts-->
    <div class="col-md-4 offset-md-4 mt-4">
      <div class="mt-4 mb-2 text-center">
        <div th:if="${error}" class="bg-warning p-2" th:text="${error}"></div>
      </div>

      <form id="password-reset-complete-form" method="post" th:action="@{/password-reset/change}">
        <input type="hidden" name="username" th:value="${username}"/>

        <fieldset>
          <legend th:text="#{password-reset.text}"></legend>

          <!-- Password input starts-->
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-lock"></i></span>
              <input type="password" class="form-control rounded" name="password" id="password"
                     th:placeholder="#{reset.password.new.text}"
                     aria-label="Password" aria-describedby="password" required autofocus>
            </div>
          </div>
          <!-- Password input ends -->
          <!-- Confirm Password input starts-->
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-lock"></i></span>
              <input type="password" class="form-control rounded" name="confirmPassword" id="confirmPassword"
                     th:placeholder="#{reset.password.confirm.text}"
                     aria-label="ConfirmPassword" aria-describedby="confirmPassword" required>
            </div>
          </div>
          <!-- Password input ends -->

          <!-- Sign in button starts -->
          <div class="mb-3 d-grid gap-2 mx-auto">
            <button class="btn btn-primary" type="submit" th:text="#{save.new.password.submit.text}"></button>
          </div>
          <!-- Sign in button ends -->
        </fieldset>
      </form>

      <hr/>

      <!-- Sign in button starts -->
      <div class="d-grid gap-2 mx-auto mb-3">
        <a class="btn btn-info" th:href="@{/sign-up}" type="submit" th:text="#{sign-up.text}"></a>
      </div>
      <!-- Sign in button ends -->
    </div>
    <!-- Col ends-->
  </div>
  <!-- Row ends -->

</main>
<!-- Container ends-->


<!--Common Body Scripts-->
<th:block th:replace="common/template :: common-scripts(formValidation=true)"/>

</body>
</html>
