<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<th:block th:replace="common/template :: common-head(title='Sign Up')"/>

<body>

<!-- Navigation Section -->
<th:block th:replace="common/template :: common-navbar"/>


<!-- Container starts-->
<div class="container">

  <!-- Row starts-->
  <div class="row"></div>
  <!-- Row ends -->

</div>
<!-- Container ends-->


<!--Common Body Scripts-->
<div th:replace="common/template :: common-scripts"></div>
</body>
</html>
