<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<th:block
    th:replace="common/template :: common-head(title='Sign Up', formValidation=true, togglePassword=true)"/>

<body>

<!-- Container starts-->
<main class="container">

  <!-- Row starts-->
  <div class="row">
    <!-- Col starts-->
    <div class="col-md-4 offset-md-4 mt-4">
      <div class="mt-4 mb-2 text-center">
        <div class="bg-warning p-2" th:if="${error}" th:text="${error}"></div>
        <div class="bg-success text-white p-2" th:if="${pendingVerify}"
             th:text="#{signup.verify.text}"></div>
      </div>

      <form id="sign-up-form" method="post" th:action="@{/sign-up}">
        <fieldset>
          <legend th:text="#{sign-up.text}"></legend>

          <!-- Username input starts-->
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
              <input aria-describedby="username" aria-label="Username" autofocus
                     class="form-control rounded" type="text"
                     required id="username" name="username" th:placeholder="#{form.username}">
            </div>
          </div>
          <!-- Username input ends -->
          <!-- Email input starts-->
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-at"></i></span>
              <input aria-describedby="username" aria-label="Username" class="form-control rounded"
                     required id="email" name="email" th:placeholder="#{form.email}" type="email">
            </div>
          </div>
          <!-- Email input ends -->
          <!-- Password input starts -->
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-lock"></i></span>
              <input aria-describedby="password" aria-label="Password" class="form-control rounded"
                     required id="password" name="password" th:placeholder="#{form.password}"
                     type="password">

              <button
                  aria-label="Show password as plain text. Warning: this will display your password on the screen."
                  class="d-none" id="toggle-password"
                  type="button">
              </button>
            </div>
          </div>
          <!-- Password input ends -->
          <!-- Terms and conditions starts -->
          <div class="input-group mb-3 text-primary">
            <a href="#" th:text="#{sign-up.terms-and-conditions}"></a>
          </div>
          <div class="mb-3 form-check form-switch">
            <input class="form-check-input" id="terms" name="terms" required type="checkbox">
            <label class="form-check-label" for="terms"
                   th:text="#{sign-up.terms-and-conditions.description}"></label>
          </div>
          <!-- Terms and conditions ends-->
          <!-- Sign up button starts -->
          <div class="mb-3 d-grid gap-2 mx-auto">
            <button class="btn btn-primary" th:text="#{sign-up.text}" type="submit"></button>
          </div>
          <!-- Sign in button ends -->
        </fieldset>
      </form>

      <hr/>

      <div class="mb-3">
        <div class="input-group text-primary" th:text="#{sign-up.already.have.account}"></div>

        <!-- Sign in button starts -->
        <div class="d-grid gap-2 mx-auto">
          <a class="btn btn-info" th:href="@{/login}" th:text="#{sign-in.text}" type="submit"></a>
        </div>
        <!-- Sign in button ends -->
      </div>
    </div>
    <!-- Col ends-->
  </div>
  <!-- Row ends -->

</main>
<!-- Container ends-->


<!--Common Body Scripts-->
<th:block th:replace="common/template :: common-scripts(formValidation=true, togglePassword=true)"/>

</body>
</html>
