<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<th:block th:replace="common/template :: common-head(title='..:: Spring Boot Starter | 415 ::..')"/>

<body>

<div class="container error-container">

  <div class="container-fluid bg-secondary text-light p-5 mt-5">
    <div class="container bg-secondary p-5">
      <h1 class="display-3">Spring Boot Starter Support Center</h1>
      <p class="lead">415 Unsupported Media Type</p>
      <hr class="my-2">

      <h3>Content type 'application/xyz;charset=UTF-8' may not be supported</h3>

      <b>Page:</b> <span th:text="${path}"></span>
      <br>
      <b>Time:</b> <span th:text="${timestamp}"></span>

      <p th:if="${status}">
        <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
          th:if="${message}" th:text="'('+${message}+')'">error ...</span>
      </p>
    </div>
  </div>

</div>

<!--Common Body Scripts-->
<div th:replace="common/template :: common-scripts"></div>

</body>
</html>
