<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<th:block th:replace="common/template :: common-head(title='Home')"/>

<body>

<!-- Container starts-->
<main class="container">

  <!--Common Body Scripts-->
  <nav th:replace="common/template :: common-navbar"></nav>

  <!-- Row starts-->
  <div class="row">
    <div class="container bg-secondary text-light p-5 rounded">
      <div class="container bg-secondary p-5 text-center">
        <h1 class="display-4" th:text="#{navbar.logo.text}"></h1>
        <hr>
      </div>
    </div>
  </div>
  <!-- Row ends -->

</main>
<!-- Container ends-->


<!--Common Body Scripts-->
<div th:replace="common/template :: common-scripts"></div>
</body>
</html>
