name: PR Lint
on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']

concurrency:
  group: ${{ github.pr.base.ref }}-pr
  cancel-in-progress: true

jobs:
  pr_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: vijaykramesh/pr-lint-action@v1.0
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
